In [80]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import mannwhitneyu

In [81]:
df = pd.read_csv('source/FReDA4.csv')

In [82]:
couples_agreement = df[df["Group2"] == "Couple Agreement"].copy()
couples_deprived = df[df["Group2"] == "Couple Deprivation"].copy()
couples_saturated = df[df["Group2"] == "Couple Saturation"].copy()

In [83]:
couples = len(couples_saturated)
married = (couples_saturated["Married"] == 1).sum()
kids = (couples_saturated["Kids"] >= 1).sum()
together = (couples_saturated["Cohabitation"] >= 1).sum()
orientation = (couples_saturated["Relationship Sex"] >= 1).sum()
work = (couples_saturated["Work Status"] >= 1).sum()

per_married = married*100/couples
per_kids = kids*100/couples
per_together = together*100/couples
per_orientation = orientation*100/couples
per_work = work*100/couples



none = df.loc[df["Group2"] == "Couple Saturation", "Relationship Length"].isna().sum()
pd.crosstab(
    couples_saturated["Relationship Length"],
    couples_saturated["Married"],
)

Married              0.0  1.0
Relationship Length
1.0                   10    4
2.0                    8    6
3.0                    8   28
4.0                    2   18
5.0                    0    6

In [84]:
pd.crosstab(
    couples_saturated["Kids"],
    couples_saturated["Married"],
)

Married  0.0  1.0
Kids
0.0       24   22
1.0        2   24
2.0        2    8
3.0        0    8

In [85]:
pd.crosstab(
    couples_saturated["Age difference"],
    couples_saturated["Married"],
)

Married         0.0  1.0
Age difference
-2.0              4   10
-1.0              8   10
 0.0              4   22
 1.0              4    6
 2.0              8   14

Satisfied couples are in mayority heterosexuals (96.5%) and live together (89.3%). Most of them works outside home either part of fulltime (91.0%).
More than half of them are married (57.7%), while less than half have Kids (44.5%)
Married couples are together for longer time, 88% of them has been together more than Five years. Only 32% of single couples has been together more than Five years.
Married couples also are the most prominents to have childre, where 66% Reports of having one or more than one kid in the Household.

Couples tend to be evenly regarding age difference, where 38% of single couples have the same age and 33% of married has the same age.


Deprived couples are again in mayority heterosexuals (97,3%) and live together (93.4%). Again most of them works outside their homes (85,2%)
More than 2/3 are married (72.4%), while nearly the same amount have Kids (74%).
Married couples are together for longer time, 94% of them has been together more than Five years. Single couples instead are distributed evenly regarding relationship length. However, most of them have together less than 10 years (83%), while married ones are mostly more than that time (68%)
Kids are mostly within married couples in this Group, 87%. Contrary, single couples prefers not to have childer (60%)

Saturated couples are mostly heterosexuals (95.6%) and live together (97.7%). Most of the work outside home (83.3%)
68% are married, and less than half have Kids (48.8%)
Married couples are together for longer time (83%) are together more than 5 years. However, only 38% of them are together for more than 10 years.
Single couples are together mostly below 5 years (64.28%)
85 of single couples does not have Kids, while 64% of married couples have at least 1